* {
    margin: 0; padding: 0; 
    border-radius: 0;
    box-sizing: border-box; 
}
ol,ul {list-style: none;}
a {text-decoration: none; outline: 0;}
img {border: 0;}

a:active{color: rgb(23, 29, 25);}
a:link{color: rgb(23, 29, 25);}
a:visited{color: rgb(23, 29, 25);}
a:hover{color: rgb(23, 29, 25);}

/*--------------------------gnb_wrapper 영역--------------------------*/
#gnb_wrapper{
    height: 70px;
    background-color: #fff;
    position: relative;
}

.left_gnb{
    height: 100%;
    float: left;
    line-height: 70px;
    padding-left: 50px;
}

.left_gnb .menu_icon{
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid rgb(23, 29, 25);
    border-bottom: 0.2em solid rgb(23, 29, 25);
    box-sizing: unset;
}

.left_gnb .menu_icon:before{
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid rgb(23, 29, 25);
}

.left_gnb .menu_font{
    font-size: 20px;
    color: rgb(23, 29, 25);
    font-weight: bold;
}

.logo_gnb{
    height: 100%;
    text-align: center;
}

.logo_gnb img{
    width: 170px;
    padding-top: 10px;
    margin-left: -150px;
}

.right_gnb{
    height: 100%;
    position: absolute;
    top: 0; right: 0;
    line-height: 70px;
    font-size: 20px;
    font-weight: bold;
}

.right_gnb .join_gnb{float: left; margin-right: 50px;}
.right_gnb .login_gnb{float: left;margin-right: 50px;}

.login_gnb a{
    border: 2px solid rgb(23, 29, 25);
    padding: 10px 30px;
    border-radius: 2em;
    color: rgb(23, 29, 25);
}
.login_gnb a:hover{color: #486bcd; border-color: #486bcd;}

.join_gnb a{color: rgb(23, 29, 25);}
.join_gnb a:hover{color: #486bcd;}
/*-------------------------//gnb_wrapper 영역-------------------------*/

/*--------------------------a 태그 영역--------------------------*/
#nav_wrapper a:active{color: rgb(23, 29, 25);}
#nav_wrapper a:link{color: gray;}
#nav_wrapper a:visited{color: gray;}
#nav_wrapper a:hover{color: #486bcd;}
/*-------------------------//a 태그 영역-------------------------*/

/*--------------------------nav_wrapper 영역--------------------------*/
#nav_wrapper{
    width: 100%; height: 100px;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}

#nav_wrapper ul{
    text-align: center;
    line-height: 100px;
}

#nav_wrapper ul li{
    display: inline;
    font-size: 22px;
    margin: 0 30px;
}

#nav_wrapper ul li a{font-weight: bold;}

#nav_wrapper ul li:nth-last-of-type(1){border-bottom: 2px solid rgb(23, 29, 25);}
#nav_wrapper ul li:nth-last-of-type(1) a{color: rgb(23, 29, 25);}
/*-------------------------//nav_wrapper 영역-------------------------*/

/*------------------------content_wrapper 영역------------------------*/
#content_wrapper{
    background-color: rgb(243, 243, 243);
}


/*--------------------------side_menu 영역--------------------------*/
#content_wrapper .side_menu{
    width: 110px; height: 600px;
    position: absolute;
    left: 0;
    background-color: #777;
    position: fixed;
}

/*.side_menu ul{}*/

.side_menu ul li{
    border-bottom: 1px solid lightgray;
}

.side_menu ul li a{
    display: block;
    color: #fff;
    text-align: center;
    height: 65px;
    padding-top: 10px;
    line-height: 1.4;
}

.side_menu ul li:nth-of-type(3) a{height: 100px;}
.side_menu ul li:nth-of-type(4) a{height: 100px;}

.side_menu ul li:nth-of-type(5) a{
    border-bottom: none;
    height: 40px;
}

.side_menu ul li:nth-of-type(6) a{
    border-bottom: none;
    height: 40px;
}

.side_menu ul li a:hover{background-color: #4e545d;}

.side_menu ul li:nth-of-type(6) a{background-color: #28313d;}
/*-------------------------//side_menu 영역-------------------------*/

/*-----------------------report_guide 영역-----------------------*/
#content_wrapper .report_guide{
    width: 1162px; height: 2200px;
    margin: 0 auto;
    padding: 60px 100px 30px 100px;
}

.report_guide h1{
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------tit_exep 영역------------------------*/
.report_guide .tit_exep{
    text-align: center;
    color: #354052;
    margin-bottom: 60px;
}

/*-----------------------report_tab 영역-----------------------*/
.report_guide .report_tab{
    height: 52px;
    margin-bottom: 25px;
    border-bottom: 1px solid #d8dce1;
    text-align: center;
}

.report_tab a{
    height: 50px;
    line-height: 50px;
    margin: 0 30px;
    padding-bottom: 5px;
}

.report_tab a:nth-of-type(1):hover{border-bottom: 2px solid #354052; font-weight: 700;}
.report_tab a:nth-of-type(2){border-bottom: 2px solid #354052; font-weight: 700;}

.report_guide strong{font-size: 25px;}

/*-----------------------rep_mini_tab 영역----------------------*/
.report_guide .rep_mini_tab{
    height: 60px;
    margin: 17px 0 35px;
    border: 1px solid #dfe1e5;
    background-color: #fff;
}

.rep_mini_tab li{
    float: left;
    width: 320px;
}

.rep_mini_tab li a{
    display: block;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

.rep_mini_tab li .on{
    display: block;
    height: 59px;
    background-color: #3a76cb;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
}

.rep_mini_tab li:nth-of-type(2){border-right: 1px solid #dfe1e5;}
/*----------------------//rep_mini_tab 영역---------------------*/

/*------------------------punish_point 영역------------------------*/
.punish_point{
    height: 1200px;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 40px 0 0 40px;
}

.punish_point strong{
    display: block;
    margin-bottom: 50px;
}

.punish_point dl{
    height: 81px;
    margin-bottom: 40px;
}

.punish_point dl:nth-of-type(7){height: 251px;}
    

.punish_point dt{
    display: block;
    float: left;
    width: 100px;
    margin-right: 30px;
}

.punish_point dd{
    display: block;
    float: left;
    width: 790px;
    padding-top: 15px;
}

.punish_point dd ul li{
    font-size: 14px;
    line-height: 26px;
    list-style: square;
}
/*-----------------------//punish_point 영역-----------------------*/

/*-------------------------common_msg 영역-------------------------*/
.common_msg{
    height: 170px;
    background-color: #fff;
    padding: 40px 0 0 40px;
}

.common_msg strong{
    display: block;
    font-size: 20px;
    color: #486bcd;
    margin-bottom: 10px;
}

.common_msg dd{
    font-size: 13px;
}
/*------------------------//common_msg 영역------------------------*/

/*-----------------------//report_guide 영역-----------------------*/
/*---------------------//content_wrapper 영역----------------------*/

/*---------------------------footer 영역---------------------------*/
footer{
    width: 100%; height: 120px;
    background-color: rgb(243, 243, 243);
}

footer p {
    text-align: center;
    padding: 50px 0;
}
/*--------------------------//footer 영역--------------------------*/