* {margin: 0; padding: 0;}
ol,ul {list-style: none;}
a {text-decoration: none; outline: 0;}
img {border: 0;}

/*--------------------------gnb_wrapper 영역--------------------------*/
#gnb_wrapper{
    width: 100%; height: 70px;
    background-color: #fff;
    overflow: hidden;
}

#gnb_wrapper .logo{
    float: left;
    margin-left: 20%;
}

#gnb_wrapper .side_menu{
    float: right;
    overflow: hidden;
    margin-top: 25px;
    margin-right: 20%;
}

.side_menu li{
    float: left;
    margin-left: -1px;
    padding: 0 8px 0 7px;
}

.side_menu li a{color: #000;}
.side_menu li a:hover{color: #486bcd;}
/*-------------------------//gnb_wrapper 영역-------------------------*/

/*--------------------------user_agreement 영역--------------------------*/
#user_agreement{
    width: 550px;
    margin: 0 auto;
}

#user_agreement h1{
    text-align: center;
    padding: 40px 0 30px 0;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
}

/*--------------------------check_all 영역--------------------------*/
#user_agreement .check_all{
    height: 65px;
    margin: 10px 0;
}

.check_all input[type="checkbox"]{
    width: 30px; height: 30px;
    margin: 10px 5px 0 10px;
    float: left;
}

.check_all label{
    float: left;
    padding-top: 10px;
}

.check_all strong{
    color: #6d81df;
}
/*-------------------------//check_all 영역-------------------------*/

/*--------------------------공통 영역--------------------------*/
input[type="checkbox"] {
    width: 23px; height: 23px;
}

.chk_square input[type="checkbox"]{
    margin: 20px 5px 0 15px;
    float: left;
}

.chk_square label{
    float: left;
    padding-top: 20px;
}
/*-------------------------//공통 영역-------------------------*/

/*--------------------------service_ag 영역--------------------------*/
#user_agreement .service_ag{
    height: 270px;
}

.service_ag .chk_square{
    height: 60px;
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
}

.service_ag .ser_content{
    height: 178px;
    overflow: auto;
    padding: 10px 0 0 30px;
    border: 1px solid lightgray;
    border-top: none;
}
.ser_content strong{font-size: 20px;}
/*-------------------------//service_ag 영역-------------------------*/

/*--------------------------privacy_ag 영역--------------------------*/
#user_agreement .privacy_ag{
    height: 270px;
}

.privacy_ag .chk_square{
    height: 60px;
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
}

.privacy_ag .pri_content{
    height: 178px;
    overflow: auto;
    padding: 10px 0 0 30px;
    border: 1px solid lightgray;
    border-top: none;
}

.pri_content strong{font-size: 20px;}
/*-------------------------//privacy_ag 영역-------------------------*/

/*--------------------------priterm_ag 영역--------------------------*/
#user_agreement .priterm_ag{
    height: 80px;
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}

.priterm_ag input[type="checkbox"]{
    margin: 20px 5px 0 15px;
    float: left;
}

.priterm_ag label{
    float: left;
    padding-top: 20px;
}

.priterm_ag strong{color: #6d81df;}

.priterm_ag p{
    font-size: 15px;
    color: gray;
    margin-top: 5px;
}
/*-------------------------//priterm_ag 영역-------------------------*/

/*--------------------------event_ag 영역--------------------------*/
#user_agreement .event_ag{
    height: 65px;
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
}

.event_ag input[type="checkbox"]{
    margin: 20px 5px 0 15px;
    float: left;
}

.event_ag label{
    float: left;
    padding-top: 20px;
}

.event_ag strong{color: #6d81df;}
/*-------------------------//event_ag 영역-------------------------*/

/*--------------------------next_btn_wrap 영역--------------------------*/
#next_btn_wrap{
    text-align: center;
    margin: 20px 0;
}

#next_btn_wrap .next_btn{
    display: inline-block;
    width: 100px; height: 50px;
    border: 1px solid #5a6ff2;
    color: #fff;
    background-color: #6e81df;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}
/*-------------------------//next_btn_wrap 영역-------------------------*/

/*-------------------------//user_agreement 영역-------------------------*/

/*--------------------------footer 영역--------------------------*/
footer{
    width: 100%; height: 120px;
}

footer p {
    text-align: center;
    margin: 50px 0;
}
/*-------------------------//footer 영역-------------------------*/


@media (max-width:375px){
/*--------------------------gnb_wrapper 영역--------------------------*/
#gnb_wrapper{width: 375px;}

hr{width: 375px;}

#gnb_wrapper .logo{
    margin: 0%;
    margin-top: 10px;
}

.logo img{width: 150px;}

#gnb_wrapper .side_menu{
    margin-right: 2%;
    font-size: 12px;
    margin-top: 27px;
}
/*-------------------------//gnb_wrapper 영역-------------------------*/

/*--------------------------user_agreement 영역--------------------------*/
#user_agreement{width: 375px;}

#user_agreement h1{font-size: 25px;}

/*--------------------------check_all 영역--------------------------*/
#user_agreement .check_all{
    height: 50px;
    margin: 10px 0;
    font-size: 11px;
}

.check_all input[type="checkbox"]{
    width: 15px; height: 15px;
    margin: 15px 9px 0 10px;
}

.check_all label{
    float: left;
    padding-top: 10px;
}

.check_all strong{
    color: #6d81df;
}
/*-------------------------//check_all 영역-------------------------*/

/*--------------------------공통 영역--------------------------*/
input[type="checkbox"] {
    width: 13px; height: 13px;
}

.chk_square input[type="checkbox"]{
    margin: 15px 5px 0 15px;
    float: left;
}

.chk_square label{
    float: left;
    padding-top: 15px;
    font-size: 11px;
}
/*-------------------------//공통 영역-------------------------*/

/*--------------------------service_ag 영역--------------------------*/
#user_agreement .service_ag{
    height: 270px;
}

.service_ag .chk_square{
    height: 45px;
}

.service_ag .ser_content{
    padding: 20px 0 0 15px;
    font-size: 11px;
}
.ser_content strong{font-size: 20px;}
/*-------------------------//service_ag 영역-------------------------*/

/*--------------------------privacy_ag 영역--------------------------*/
#user_agreement .privacy_ag{
    height: 270px;
}

.privacy_ag .chk_square{
    height: 45px;
}

.privacy_ag .pri_content{
    padding: 20px 0 0 15px;
    font-size: 11px;
}

.pri_content strong{font-size: 20px;}
/*-------------------------//privacy_ag 영역-------------------------*/

/*--------------------------priterm_ag 영역--------------------------*/
#user_agreement .priterm_ag{
    height: 55px;
}

.priterm_ag input[type="checkbox"]{
    margin: 20px 15px 0 15px;
}

.priterm_ag label{
    padding-top: 17px;
    font-size: 11px;
}

.priterm_ag strong{color: #6d81df;}

.priterm_ag p{
    font-size: 11px;
    color: gray;
    margin-top: 5px;
}
/*-------------------------//priterm_ag 영역-------------------------*/

/*--------------------------event_ag 영역--------------------------*/
#user_agreement .event_ag{
    height: 55px;
}

.event_ag input[type="checkbox"]{
    margin: 20px 15px 0 15px;
}

.event_ag label{
    padding-top: 19px;
    font-size: 11px;
}
/*-------------------------//event_ag 영역-------------------------*/

/*--------------------------next_btn_wrap 영역--------------------------*/
#next_btn_wrap{
    text-align: center;
    margin: 20px 0;
}

#next_btn_wrap .next_btn{
    width: 80px; height: 40px;
    font-size: 15px;
    line-height: 40px;
}
/*-------------------------//next_btn_wrap 영역-------------------------*/

/*-------------------------//user_agreement 영역-------------------------*/

/*--------------------------footer 영역--------------------------*/
footer{
    width: 100%; height: 120px;
}

footer p {
    font-size: 12px;
}
/*-------------------------//footer 영역-------------------------*/
}